<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Data - Bolinho de Java</title>
    <link href="./style.css" rel="stylesheet" />
    <style type="text/css">
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 0;
      }

.container{
  width: 500px;
    border-radius: 20px;
    background: #fafafa;
        margin: 2vh 0;
}
      .header-table{
        display: flex;
        flex-direction: row;

      }

      #div-row{
        display: flex;
        flex-direction: row;
      }
    </style>
  </head>

  <body>
    <div style="display: flex; gap: 1rem; flex-direction: row">
      <button><a href="/">Home</a></button>
      <button><a href="/telaclientes">Voltar</a></button>
    </div>

    <div class="container">

    <div class="header-table">
      <h4 style="width: 40%">Nome</h4>
      <h4 style="width: 35%">Email</h4>
      <h4 style="width: 25%">Telefone</h4>
    </div>

    <div id="div-row" th:each="cliente : ${clientes}">
      <div class="divCenter" style="width: 40%;" >
        <p id="nome" th:text="${cliente.nome}"></p>
      </div>
      <div style="width: 35%" class="divCenter">
        <p th:text="${cliente.email}"></p>
      </div>
      <div class="divCenter" style="width: 25%">
        <p class="telefone" th:text="${cliente.telefone}"></p>
      </div>
    </div>
  </div>

    </div>
  </body>

  <script>
    
  </script>
</html>
