<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Upload - Bolinho de Java</title>
    <style>
      body {
        padding: 10vh 0;
      }
    </style>
  </head>

  <body>
    <div align="center">
      <button>
        <a style="text-decoration: none" href="/">Home</a>
      </button>
      <div>
        <h3>[[${message}]]</h3>
      </div>
      <button>
        <a style="text-decoration: none" href="/telaprodutos">Veja os dados</a>
      </button>
    </div>
  </body>
</html>
