<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Spring Boot Data</title>
</head>

<body>
    <div align="center">
        <div><h2>Spring Boot File Data</h2></div>
        <div th:each="produto : ${produtos}" >
            <h3 th:text="${produto.nome}"></h3>
            <h3 th:text="${produto.descricao}"></h3>
            <h3 th:text="${produto.quantidade}"></h3>
            <h3 th:text="${produto.dataCadastro}"></h3>
        </div>
    </div>
    <button><a href="/">Voltar</a></button>
</body>

</html>